name: Release

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'


      # currently needed to get npm to work with OIDC
      - run: npm install -g npm@latest
      - run: npm ci --ignore-scripts
      - run: npm run release
        env:
          NPM_CONFIG_PROVENANCE: true
